<footer class="site-footer h-card"></footer>
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-A1">
        <p style="margin-bottom: 5px;">{{- site.description | escape -}}</p>
        <a href="https://creativecommons.org/share-your-work/public-domain/cc0/" target="_blank"><img height="25px" src="/assets/img/cc0.jpg"/></a>
      </div>
 
      <div class="footer-col footer-col-A2">
        {%- include social.html -%}
      </div>
  
      <div class="footer-col footer-col-A3">
        <ul class="contact-list">
          <li><a href="help.html">Help</a></li>
          <li><a href="download.html">Download</a></li>
          <li><a href="api.html">API</a></li>
          <li><a href="https://github.com/wikipathways">Repos</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-A4">
        <ul class="contact-list">
          <li><a href="organisms.html">Organisms</a></li>
          <li><a href="communities.html">Communities</a></li>
          <li><a href="latest.html">Latest</a></li>
          <li><a href="https://github.com/wikipathways/pathway-curation-tasks/issues">Requests</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-A5">
        <ul class="contact-list">
          <li><a href="stats.html">Statistics</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="terms.html">Terms of use</a></li>
          <li><a href="https://github.com/wikipathways/wikipathways.github.io/issues">Report a bug</a></li>
        </ul>
      </div>

    </div>
  </div>

</footer>
