<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{- site.description | escape -}}</p>
        
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li><a href="help.html">Help</a></li>
          <li><a href="download.html">Download</a></li>
          <li><a href="api.html">API</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-4">
        <ul class="contact-list">
          <li><a href="stats.html">Statistics</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="terms.html">Terms of use</a></li>
        </ul>
      </div>

    </div>

  </div>

</footer>
