<footer class="site-footer h-card"> 
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
      <a href="https://github.com/wikipathways/wikipathways-database/commits" target="_blank">
        <img alt="GitHub last commit"
          src="https://img.shields.io/github/last-commit/wikipathways/wikipathways-database?label=updated">
      </a>
      <a href="https://github.com/wikipathways/wikipathways-database/graphs/contributors" target="_blank">
        <img alt="GitHub contributors"
          src="https://img.shields.io/github/contributors/wikipathways/wikipathways-database?label=authors">
      </a>
      <a href="https://github.com/wikipathways/wikipathways-database/graphs/commit-activity" target="_blank">
        <img alt="GitHub commit activity"
          src="https://img.shields.io/github/commit-activity/m/wikipathways/wikipathways-database?label=activity">
      </a>
      <a href="https://github.com/wikipathways/wikipathways.github.io/actions" target="_blank">
        <img alt="GitHub pages build and deployment status" 
        src="https://img.shields.io/github/workflow/status/wikipathways/wikipathways.github.io/pages%20build%20and%20deployment">
      </a>
      <a href="https://github.com/wikipathways/wikipathways.github.io/deployments" target="_blank">
        <img alt="GitHub deployment state" 
        src="https://img.shields.io/github/deployments/wikipathways/wikipathways.github.io/github-pages">
      </a>
      <p style="margin-bottom: 5px;" />

    <div class="row">

      <div class="col">
        <p style="width:300px; margin-bottom: 5px;">{{- site.description | escape -}}</p>
        <a href="https://creativecommons.org/share-your-work/public-domain/cc0/" target="_blank"><img height="25px" src="/assets/img/cc0.jpg"/></a>
      </div>
 
      <div class="col">
        {%- include_cached social.html -%}
      </div>
  
      <div class="col text-nowrap">
        <ul class="contact-list">
          <li><a href="/help.html">Help</a></li>
          <li><a href="https://data.wikipathways.org/current/">Download</a></li>
          <li><a href="https://webservice.wikipathways.org/ui/">API</a></li>
          <li><a href="https://sparql.wikipathways.org/">SPARQL</a></li>
          <li><a href="/tools.html">Tools</a></li>
        </ul>
      </div>

      <div class="col text-nowrap">
        <ul class="contact-list">
          <li><a href="/browse/organisms.html">Organisms</a></li>
          <li><a href="/browse/communities.html">Communities</a></li>
          <li><a href="/browse/filters.html">Category filters</a></li>
          <li><a href="/browse/table.html">Table filters</a></li>
          <li><a href="https://github.com/wikipathways/pathway-curation-tasks/issues">Requests</a></li>
        </ul>
      </div>

      <div class="col text-nowrap">
        <ul class="contact-list">
          <li><a href="/stats.html">Statistics</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/cite.html">How to cite</a></li>
          <li><a href="/terms.html">Terms of use</a></li>
          <li><a href="https://github.com/wikipathways/wikipathways.github.io/issues">Report a bug</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
