<header class="site-header" role="banner">
    <div class="wrapper">
      <!-- NAV BAR -->
      <nav class="navbar navbar-light">
        <a class="navbar-brand" href="{{ "/" | relative_url }}">
          <img src="/assets/img/wikipathways-logo-horizontal.svg" height="75" class="d-inline-block align-top" alt="WikiPathways logo">
        </a>     
        <div>
        <!-- SEARCH  -->
        <script async src="https://cse.google.com/cse.js?cx=c1b9a23fc5f2875e3"></script>
        <div id="search-widget" style="width:300px; float:left; margin:4px 20px 0px 0px;">
          <div class="gcse-searchbox-only" data-placeholder=" e.g., ACE or cancer"></div> 
          <div id="advsearch" style="font-size: 0.7rem;padding-left: 13px;margin: -11px 0px 0px 13px;position: absolute;">
            <a href="/browse/table.html">Advanced search</a></div>
        </div>
        <script>
          window.onload = function()
	 { 
	   var searchBox1 =  document.getElementById("gsc-i-id1");
	   searchBox1.placeholder=" e.g., ACE or cancer";
	   searchBox1.title="Search WikiPathways"; 
	 }
        </script>
        <!-- MENU -->  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded=false aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="nav justify-content-center" >
            <a class="btn btn-sm btn-front my-1" style="margin-left:-75px" href="https://classic.wikipathways.org" target="_blank">Go to Classic Site</a>
            <p style="font-weight: bold; padding: 10px; margin:0px 0px 1px 45px;">Welcome to the new WikiPathways site!&nbsp;
            Please help <a href="https://github.com/wikipathways/wikipathways-help/issues" target="_blank">report any issues</a> you find.</p>
          </div>
          <div class="nav justify-content-center" style="margin-left: 150px;">
            <a class="nav-item nav-link" href="/about.html">About</a>
            <a class="nav-item nav-link" href="/search.html">Search</a>
            <a class="nav-item nav-link" href="/#browse">Browse</a>
            <a class="nav-item nav-link" href="/browse/communities.html">Communities</a>
            <a class="nav-item nav-link" href="/#download">Download</a>
            <a class="nav-item nav-link" href="/#analyze">Analyze</a>
            <a class="nav-item nav-link" href="/cite.html">Cite</a>
            <a class="nav-item nav-link" href="/help.html">Help</a>
          </div>
        </div>
      </nav>
    </div>
  </header>    
