<header class="site-header" role="banner">
    <div class="wrapper">
      <!-- NAV BAR -->
      <nav class="navbar navbar-light" style="background-color: #fff;">
        <a class="navbar-brand" href="{{ "/" | relative_url }}">
          <img src="/assets/img/wikipathways-logo.png" width="37" class="d-inline-block align-top" alt="">
          WikiPathways
        </a>     
        <div>
        <!-- SEARCH  -->
        <script async src="https://cse.google.com/cse.js?cx=c1b9a23fc5f2875e3"></script>
        <div style="width:300px; float:left; margin:3px 20px 0px 0px;">
          <div class="gcse-search" data-personalizedAds="false">...</div> 
        </div>
        <!-- MENU -->         
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="nav justify-content-center">
            <a class="nav-item nav-link" href="/about.html">About</a>
            <a class="nav-item nav-link" href="/help.html">Help</a>
            <a class="nav-item nav-link" href="/cite.html">Cite</a>
            <a class="nav-item nav-link" href="/tools.html">Tools</a>
          </div>
        </div>
        </div>
      </nav>
    </div>
  </header>    