<header class="site-header" role="banner">
  <div class="wrapper">
    <!-- NAV BAR -->
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="{{ "/" | relative_url }}">
        <img src="/assets/img/wikipathways-logo-horizontal.svg" height="75" class="d-inline-block align-top" alt="WikiPathways logo">
      </a>     
      <div>
        <!-- SEARCH  -->
        <div id="search-widget" style="float:left; margin:4px 20px 0px 0px;">
          <form id="searchForm" action="/search.html">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" name="searchQuery" placeholder="&nbsp;e.g., ace2 aldosterone human">
          </form>          
        </div>
        <script>
          const searchForm = document.getElementById('searchForm');
          searchForm.addEventListener('submit', function(event) {
          event.preventDefault(); // Prevent the default form submission behavior
          const searchQuery = encodeURIComponent(searchForm.elements.searchQuery.value); // Get the search query and encode it
          const searchUrl = `/search.html?query=${searchQuery}`; // Construct the search results page URL with the search query as a parameter
          window.location.href = searchUrl; // Navigate to the search results page
          });
        </script>
      </div>
      <!-- MENU -->  
      <div class="justify-content-center" style="font-size: small;padding: 10px;">
            <a class="btn btn-sm btn-front my-1" style="margin-left:106px; font-size: small;display:inline;margin-right: 10px;" 
              href="https://classic.wikipathways.org" target="_blank">Go to Classic Site</a>
            <a class="nav-item nav-link" style="display:inline;margin-right: 10px;"
              href="/about.html">About</a>
            <a class="nav-item nav-link" style="display:inline;margin-right: 10px;"
              href="/search.html">Search</a>
            <a class="nav-item nav-link" style="display:inline;margin-right: 10px;"
              href="/#browse">Browse</a>
            <a class="nav-item nav-link" style="display:inline;margin-right: 10px;"
              href="/browse/communities.html">Communities</a>
            <a class="nav-item nav-link" style="display:inline;margin-right: 10px;"
              href="/#download">Download</a>
            <a class="nav-item nav-link" style="display:inline;margin-right: 10px;"
              href="/#analyze">Analyze</a>
            <a class="nav-item nav-link" style="display:inline;margin-right: 10px;"
              href="/cite.html">Cite</a>
            <a class="nav-item nav-link" style="display:inline;margin-right: 10px;"
              href="/help.html">Help</a>
      </div>
    </nav>
  </div>
</header>    
