<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="android-chrome" sizes="192x192" href="/assets/img/android-chrome-192x192.png">
    <link rel="android-chrome" sizes="512x512" href="/assets/img/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/site.webmanifest">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <link href="/assets/fontawesome.all.min.css" rel="stylesheet">
    <!-- Bootstrap -->
      <script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Custom style overrides-->
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4MWT32YBQR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-4MWT32YBQR');
    </script> 
    <!-- Hotjar Tracking Code for my site -->
    <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:3409607,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    {% if page.wpid %}
      <!-- Metadata -->
      <meta name="id" content="{{ page.wpid }}" />
      <meta name="thumbnail" content="/assets/img/{{ page.wpid }}/{{ page.wpid }}-thumb.png" />
      <meta name="organisms" content="{{ page.organisms | array_to_sentence_string }}" />
      <meta name="citation_title" content="{{ page.title }}">
      <meta name="citation_abstract" content="{{ page.description }}">
      <meta name="citation_publication_date" content="{{ page.last-edited }}">
      <meta name="citation_fulltext_html_url" content="https://www.wikipathways.org/instance/{{ page.wpid }}">
      {% for username in page.authors %}
        {% assign author = site.authors | where: "username", username | first %}
        <meta name="citation_author" content="{{ author.realname | username }}">
        {% if author.affiliation %}
          <meta name="citation_author_institution" content="{{ author.affiliation }}">
        {% endif %}
        {% if author.orcid %}
          <meta name="citation_author_orcid" content="{{ author.orcid }}">
        {% endif %}
      {% endfor %}
      <script type="module" src="/assets/js/clipboardtext.js" defer="defer"></script>
      <script type="application/ld+json">
        {{ page.schema-jsonld | jsonify }}
      </script>
    {% endif %}
    <title>
      {% if page.wpid %}
        {{ page.title }} ({{ page.wpid }}) - {{ page.organisms | first }} | {{ site.title }}
      {% else %}
        {{ page.title }} | {{ site.title }}
      {% endif %}
    </title>
  </head>  
