<div class="share-box">
<a class="f" style="color:#FF8120;" title="Facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.wikipathways.org/instance/{{ page.wpid }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa fa-facebook-f fa"></i><span> </span></a>

<a class="t" style="color:#FF8120;" title="Twitter" href="https://twitter.com/intent/tweet?text=&url=https://www.wikipathways.org/instance/{{ page.wpid }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fa fa-twitter fa"></i><span> </span></a>

<a class="l" style="color:#FF8120;" title="WhatsApp" href="whatsapp://send?text=&url=https://www.wikipathways.org/instance/{{ page.wpid }}" target="_blank" rel="nofollow noopener" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa fa-whatsapp fa"></i><span> </span></a>

<a class="l" style="color:#FF8120;" title="LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.wikipathways.org/instance/{{ page.wpid }}&title=&summary=&source=WikiPathways" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa fa-linkedin fa"></i><span> </span></a>

<a class="e" style="color:#FF8120;" title="Email" href="mailto:?subject=&amp;body=Check out this pathway: https://www.wikipathways.org/instance/{{ page.wpid }}"><i class="fa fa-envelope fa"></i><span> </span></a>                          
</div>
