<p style="margin-left: 15px;color:grey-color;">With generous support from: <br/>
  <a href="https://gladstone.org/" target="_blank"><img height="25px" src="/assets/img/gladstone.png"/></a>
  <a href="http://www.maastrichtuniversity.nl/" target="_blank"><img height="25px" src="/assets/img/um.png"/></a>
  <a href="http://code.google.com/soc" target="_blank"><img height="35px" src="/assets/img/gsoc.png"/></a>
  <a href="https://www.dtls.nl/elixir-nl/" target="_blank"><img height="30px" src="/assets/img/elixir.png"/></a>
  <a href="http://www.nbic.nl/" target="_blank"><img height="25px" src="/assets/img/nbic.gif"/></a>
  <a href="http://www.nigms.nih.gov/" target="_blank"><img height="30px" src="/assets/img/nigms.jpg"/></a>
  <a href="http://nrnb.org/" target="_blank"><img height="25px" src="/assets/img/nrnb.png"/></a>
  <a href="http://www.openphacts.org/" target="_blank"><img height="25px" src="/assets/img/openphacts.jpeg"/></a>
  <a href="https://www.zonmw.nl/en/" target="_blank"><img height="25px" src="/assets/img/zonmw.png"/></a>
  <a href="https://aws.amazon.com/blogs/opensource/aws-promotional-credits-open-source-projects/" target="_blank"><img height="30px" src="/assets/img/aws.jpg"/></a>
</p>