---
---

@import "{{ site.theme }}";

* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Linux Libertine";
  src: url("../assets/fonts/LinLibertine_R.ttf");
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1190px;
    width: 100%;
    font-family: 'Poppins';
  }
}
@media only screen and (max-width: 800px) {
  .row-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -215px;
    margin-left: -215px;
    flex-direction:column;
  }
  .main-top-left {
    display: -webkit-box;
    display: -ms-flexbox;
    margin-right: -215px;
    margin-left: 215px;
  }
}


/* HEADER */
.page-content {
  padding: 30px 0px;
}
.site-header {
  border-bottom: none;
}
.navbar-brand {
  font-size: 2em;
}
.navbar {
  padding: 0px;
}

/* MAIN */
.home-page-content{
  padding: 0px 0px 30px 0px;
}
.outer-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.stats-gif {
  height: 450px; //330px; //367px;
  width: 650px; //660px; //733px;
  background: url("../assets/img/main_stats.png") left;
  background-size: 650px 450px;
}
.stats-gif:hover {
  background: url("../assets/img/main_stats.gif") center;
  background-size: 650px 450px;
}
.stats-gif:active {
  background: url("../assets/img/main_stats.gif") right;
  background-size: 650px 450px;
}
.wp554-gif {
  height: 476px; 
  min-width: 655px;
  background: url("../assets/img/main_wp554.gif") left;
  background-size: 655px 476px;
}
.wp554-gif:hover {
  background: url("../assets/img/main_wp554_inf.gif") center;
  background-size: 655px 476px;
}
.wp554-gif:active {
  background: url("../assets/img/main_wp554_inf.gif") right;
  background-size: 655px 476px;
}

/* TAGS */

h1 {
  font-size: 2em;
  font-family: 'Linux Libertine';
}
h2 {
  font-size: 1.5em;
  margin-bottom:5px;
  margin-top:15px;
  font-family: 'Linux Libertine';
}

h3 {
  font-size: 1.25em;
  font-family: 'Linux Libertine';
}

table {
  margin-bottom:10px;
  table-layout:fixed;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

a:link,
a:visited,
a:hover {
  color: #3955E7; //#880BC8; // #1756a9; 
}

.bg-light {
  background-color: #eeeeee ;
}

.badge {
  font-weight: 400;
}

.badge-secondary {
  color: #fff;
  background-color: #4C4C4C;
  border: none;
  border-radius: 4px;
}

.btn-pill {
  border-radius:23px;
  margin: 1px;
}

.card-body {
  padding: 0px;
  padding-left: 5px;
}
.card-text {
  font-size: 0.8em;
}

.col-sm-auto {
  padding-left: 3px;
  padding-right: 3px;
}

.dropdown-item {
  width: auto;
}

ul.facet-group {
  list-style-type: none;
}

a.card-link {
  text-decoration: none;
  color: #000000;
}

a.badge:visited{
  text-decoration: none;
  color: #ffffff;
}

a.btn:visited,
a.btn:link {
  text-decoration: none;
  color: #ffffff;
}

a.btn-organism:visited,
a.btn-organism:link {
  background-color: #3955E7;
  border-color: #3955E7;
}
a.btn-organism:hover {
  background-color: #1E3199;
  border-color: white;
}

a.btn-community:visited,
a.btn-community:link {
  background-color: #00CC9E;
  border-color: #00CC9E;
}
a.btn-community:hover {
  background-color: #028F6F;
  border-color: white;
}

a.btn-annotation:visited,
a.btn-annotation:link {
  background-color: #880BC8;
  border-color: #880BC8;
}
a.btn-annotation:hover {
  background-color: #620492;
  border-color: white;
}

a.btn-pathway:visited,
a.btn-pathway:link {
  background-color: #FF8120;
  border-color: #FF8120;
}
a.btn-pathway:hover {
  background-color: #D16919;
  border-color: white;
}

a.btn-outline-warning:visited,
a.btn-outline-warning:link {
  text-decoration: none;
  color: #3955E7;
  background-color: white;
  border-color: #3955E7;
}
a.btn-outline-warning:hover {
  //background-color: transparent;
  background: #eeeeee;
}

// LANDING PAGE BUTTON
a.btn-front:visited,
a.btn-front:link {
  border-color: #3955E7;
  color: #3955E7;
  font-size: large;
}
a.btn-front:hover {
  background-color: #3955E7;
  border-color: #3955E7;
  color: white;
}

// SLIDESHOW CONTROLS
.carousel-control-prev-icon {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23880BC8' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23880BC8' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
.carousel-indicators li {
background-color: #cccccc;
height: 6px;
}
.carousel-indicators .active {
  background-color: #880BC8;
}
// a stuff
a.dropdown-item:visited{
  text-decoration: none;
  color: #000000;
}

a.logo-link {
  border: 0;
  padding: 4px 8px 6px 8px;
}

a.logo-link img {
  height: 40px;
}

a.page-title {
  text-decoration: none;
  color: #424242;
}
a.page-title:visited{
  text-decoration: none;
  color: #424242;
}

/* SEARCH */

.gsc-control-cse
{
	padding:0px !important;
	border-width:0px !important;
}

form.gsc-search-box,table.gsc-search-box
{
	margin-bottom:0px !important;
}

.gsc-search-box
{
	padding:0px 4px 0px 6px !important;
}

.gsc-input
{
	padding:0px 4px 0px 6px !important;
  border:none;
}

#gsc-iw-id1,#gsc-iw-id2
{
	background-color:#ffffff !important;
	height: auto !important;
	padding: 0px !important;
	border-width: 0px !important;
	box-shadow:none !important;
}

#gs_tti50,#gs_tti51
{
	padding:0px !important;
}

#gsc-i-id1,#gsc-i-id2
{
	height:33px !important;
	padding:0px !important;
	background:none !important;
	text-indent:0px !important;
}

.gsib_b
{
	display:none;
}

.gsc-search-button
{
	border:none;
}

button.gsc-search-button
{
	display:block;
	width:3px !important;
	height:3px !important;
	border-width:0px !important;
	margin:-10px 0px 0px -14px !important;
	padding: 4px 14px 14px 4px !important;
	outline:none;
	cursor:pointer;
	box-shadow:none !important;
	box-sizing: content-box !important;
}

.gsc-branding
{
	display:none !important;
}

.gsc-control-cse
{
	background-color:transparent !important;
}

.gsc-results-wrapper-overlay
{
  text-align: left;
}

/* FOOTER */

.site-footer {
  padding: 5px 0;
}

/* THANKS */

.thanks-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.thanks-wrapper img{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  margin: 5px;
}


