---
---

@import "{{ site.theme }}";

* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  margin-bottom:5px;
  margin-top:15px;
}

table {
  margin-bottom:10px;
}

.badge {
  font-weight: 400;
}

.btn-pill {
  border-radius:23px;
}

.card-body {
  padding: 0px;
  padding-left: 5px;
}
.card-text {
  font-size: 0.8em;
}

a.card-link {
  text-decoration: none;
  color: #000000;
}

a.badge:visited{
  text-decoration: none;
  color: #ffffff;
}

a.btn:visited{
  text-decoration: none;
  color: #ffffff;
}

a.dropdown-item:visited{
  text-decoration: none;
  color: #000000;
}

a.logo-link {
  border: 0;
  padding: 4px 8px 6px 8px;
}

a.logo-link img {
  height: 40px;
}

a.page-title {
  text-decoration: none;
  color: #424242;
}
a.page-title:visited{
  text-decoration: none;
  color: #424242;
}

.site-footer {
  padding: 0px;
  padding-top: 30px;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col-wrapper img{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  margin: 5px;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-A1 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-A2 {
  width: -webkit-calc(15% - (#{$spacing-unit} / 2));
  width:         calc(15% - (#{$spacing-unit} / 2));
}

.footer-col-A3 {
  width: -webkit-calc(15% - (#{$spacing-unit} / 2));
  width:         calc(15% - (#{$spacing-unit} / 2));
}

.footer-col-A4 {
  width: -webkit-calc(15% - (#{$spacing-unit} / 2));
  width:         calc(15% - (#{$spacing-unit} / 2));
}

.footer-col-A5 {
  width: -webkit-calc(15% - (#{$spacing-unit} / 2));
  width:         calc(15% - (#{$spacing-unit} / 2));
}


