---
---

@import "{{ site.theme }}";

h2 {
  margin-bottom:0px;
  margin-top:15px;
}

table {
  margin-bottom:10px;
}

.button-gray {
  color: white; 
  background-color: #828282;
  border-style: none;
  border-radius: 4px;
}