---
---

@import "{{ site.theme }}";

h2 {
  margin-bottom:0px;
  margin-top:15px;
}

table {
  margin-bottom:10px;
}

.button-gray {
  color: white; 
  background-color: #929292;
  border-style: none;
  border-radius: 4px;
}

a.collection-link {
  font-size: 16px;
  border-radius: 12px;
  text-decoration: none;
  background-color: #626262;
  color: #ffffff;
  padding: 4px 8px 6px 8px;
}

a.logo-link {
  border: 0;
  padding: 4px 8px 6px 8px;
}

a.logo-link img {
  height: 40px;
}

.site-footer {
  padding: 0px;
  padding-top: 30px;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-A1 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-A2 {
  width: -webkit-calc(15% - (#{$spacing-unit} / 2));
  width:         calc(15% - (#{$spacing-unit} / 2));
}

.footer-col-A3 {
  width: -webkit-calc(15% - (#{$spacing-unit} / 2));
  width:         calc(15% - (#{$spacing-unit} / 2));
}

.footer-col-A4 {
  width: -webkit-calc(15% - (#{$spacing-unit} / 2));
  width:         calc(15% - (#{$spacing-unit} / 2));
}

.footer-col-A5 {
  width: -webkit-calc(15% - (#{$spacing-unit} / 2));
  width:         calc(15% - (#{$spacing-unit} / 2));
}


