---
layout: default
---
    <h1> {{ page.type }}: {{ page.value }}</h1>
    <h3> <a href="http://bioportal.bioontology.org/ontologies/{{ page.xref-dataSource }}?p=classes&conceptid=http://purl.obolibrary.org/obo/{{ page.xref-dataSource }}_{{page.xref-identifier}}"
        target="_blank">
        {{ page.xref-dataSource }}:{{page.xref-identifier}}</a></h3>
    <p>This is an annotation page.</p>
    <div class="row">
        {% for pw in site.pathways %}
            {% assign annot-values= pw.annotations | where: "type", page.type | map: "value" %}
            {% if annot-values contains page.value %}
            <div class="col-sm-auto">
              <div class="card" style="width: 10rem;">
                <a class="card-link" href="{{ pw.url }}">
                <img class="card-img-top" src="https://www.wikipathways.org//wpi/wpi.php?action=downloadFile&type=png&pwTitle=Pathway:{{pw.wpid}}" alt="{{ pw.title }}p">
                <div class="card-body">
                  <p class="card-text">{{ pw.title }} <em>({{ pw.organisms.first }})</em></p>
                </div>
                </a>
              </div>
            </div>
            {% endif %}   
         {% endfor %}  
    </div>