---
layout: default
---
<a style="float: right;" href="/browse/authors.html">Authors</a>
<h1 id="title"> {{ page.username }}</h1>
{% if page.github %}
<div style="float: right;width: 150px; margin: 5px;">
  <a href="https://github.com/settings/profile" target="_blank" title="Change your GitHub avatar">
    <img src="https://github.com/{{page.github}}.png" style="object-fit: cover; border-radius: 50%;"/>
  </a>
</div>
{% endif %}
    <p><b>{{ page.realname }}</b> {% if page.affiliation %}- {{page.affiliation}}{% endif %}
        <a href="https://github.com/wikipathways/wikipathways.github.io/edit/main/_authors/{{ page.slug }}.md"
        target="_blank"> 
          <span title="Edit author profile" style="color: #666; font-size: 1.0em;">
            <i class="fa fa-pencil"></i>
          </span>
        </a>
        {% if page.bio %}<br />{{page.bio}}{% endif %}
        {% if page.website %}<br /><a href="{{page.website}}" target="_blank">{{page.website}}</a>{% endif %}
    </p>

    <ul>
        {% if page.github %}
          <li><b>GitHub</b>: <a href="https://github.com/{{page.github}}" target="_blank">{{page.github}}</a></li>
        {% endif %}
        {% if page.orcid %}
          <li><b>ORCiD</b>: <a href="https://orcid.org/{{page.orcid}}" target="_blank">{{page.orcid}}</a></li>
        {% endif %}
        {% if page.linkedin %}
          <li><b>Linked In</b>: <a href="https://www.linkedin.com/in/{{page.linkedin}}" target="_blank">{{page.linkedin}}</a></li>
        {% endif %}
        {% if page.googlescholar %}
          <li><b>Google Scholar</b>: <a href="https://scholar.google.com/citations?hl=en&user={{page.googlescholar}}" target="_blank">{{page.googlescholar}}</a></li>
        {% endif %}
        {% if page.wikidata %}
          <li><b>Wikidata</b>: <a href="https://scholia.toolforge.org/author/{{page.wikidata}}" target="_blank">{{page.wikidata}}</a></li>
        {% endif %}
        {% if page.twitter %}
          <li><b>Twitter</b>: <a href="https://twitter.com/{{page.twitter}}" target="_blank">{{page.twitter}}</a></li>
        {% endif %}
        {% if page.mastodon-url %}
          {% assign url-slash = page.mastodon-url | split: "/" | first %}
          {% if url-slash == "https:" %} <!-- proper url -->
            <li><b>Mastodon</b>: <a href="{{page.mastodon-url}}" target="_blank">{{page.mastodon-url}}</a></li>
          {% endif %}
        {% endif %}
        {% if page.meta %}
          <li><b>Meta</b>: <a href="http://www.meta.com/{{page.meta}}" target="_blank">{{page.meta}}</a></li>
        {% endif %}
        {% if page.instagram %}
          <li><b>Instagram</b>: <a href="https://instagram.com/{{page.instagram}}" target="_blank">{{page.instagram}}</a></li>
        {% endif %}
    </ul>
    <h2 id="communities">Communities</h2>
    {% for com in site.communities %}
    {% if page.communities contains com.community-tag %}
    <a class="btn btn-sm btn-pill btn-community" href="{{com.url}}">{{com.display-name}}</a>
    {% endif %}
    {% endfor %}
    <br/>
    <h2 id="pathways">Pathways</h2>
    {% assign wpid_fisrt_string = "" %}
    {% for pathway in site.pathways %}
      {% assign first_author = pathway.authors | first %}
      {% if first_author == page.username %}
        {% assign wpid_fisrt_string = wpid_fisrt_string | append: pathway.wpid | append: "_|_" %}
      {% endif %}
    {% endfor %}
    {% assign wpid_first_array = wpid_fisrt_string | split: "_|_" %}
    {% assign sorted_pathways = site.pathways | where: "authors", page.username | sort: "last-edited" | reverse %}
    <ul class="nav nav-tabs">
      {% assign gallery_class = "active" %}
      {% if wpid_first_array.size > 0 %}
      {% assign gallery_class = "" %}
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#first">First-authored</a>
      </li> 
      {% endif %}
      <li class="nav-item">
        <a class="nav-link {{ gallery_class }}" data-toggle="tab" href="#gallery">Co-authored</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#list">List format</a>
      </li>
    </ul>
    <div class="tab-content" >
      {% assign gallery_tab_class = "show active" %}
      {% if wpid_first_array.size > 0 %}
      {% assign gallery_tab_class = "" %}
      <div class="tab-pane fade show active" id="first" role="tabpanel">
        <br/>
        <b>This author initiated {{wpid_first_array.size}} original pathways:</b>
        <br/><br/>
        <div class="row">
          {% for pw in sorted_pathways %}
          {% if wpid_first_array contains pw.wpid %}
          <div class="col-sm-auto">
            <div class="card" style="width: 10rem;">
              <a class="card-link" href="{{ pw.url }}">
              <img class="card-img-top" loading="lazy" src="/assets/img/{{pw.wpid}}/{{pw.wpid}}-thumb.png" alt="{{ pw.title }}">
              <div class="card-body">
                <p class="card-text">{{ pw.title }}</p>
              </div>
              </a>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="tab-pane fade {{ gallery_tab_class }}" id="gallery" role="tabpanel">
        <br/>
        <b>This author contributed to {{sorted_pathways.size}} pathways:</b>
        <br/><br/>
        <div class="row">
          {% for pw in sorted_pathways %}
          <div class="col-sm-auto">
            <div class="card" style="width: 10rem;">
              <a class="card-link" href="{{ pw.url }}">
              <img class="card-img-top" loading="lazy" src="/assets/img/{{pw.wpid}}/{{pw.wpid}}-thumb.png" alt="{{ pw.title }}">
              <div class="card-body">
                <p class="card-text">{{ pw.title }}</p>
              </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="tab-pane fade" id="list" role="tabpanel">
        <br/>
        <b>This author contributed to {{sorted_pathways.size}} pathways:</b>
        <br/>
        <div class="row" style="margin-left: 10px;">
          <ul>
            {% for pw in sorted_pathways %}
              <li><a href="{{ pw.url }}">{{ pw.title }} - {{pw.wpid}} <em>({{ pw.organisms.first }})</em></a></li>
            {% endfor %}
          </ul>
        </div>  
      </div>
    </div>
<br/><hr/>