---
layout: default
---
    <p><a class="logo-link" href="{{ page.logo-link }}"><img src="{{ page.logo }}"></a></p>

    <h2 id="title"> {{ page.title }}</h2>
    <p>{{ page.description }}</p>

    <h3>Pathways</h3>
      {% for pw in site.pathways %}
          {% if pw.communities contains page.community-tag %}
            <p><a class="collection-link" href="{{ pw.url }}">{{ pw.title }}</a></p>
          {% endif %}
      {% endfor %}

<h3>Contributors</h3>
{% assign all_authors = site.pathways | where:'communities',page.community-tag | map: "authors" | join: ','  | split: ',' | uniq  %}
<p>{{ all_authors | array_to_sentence_string }}</p>

<h3>How to Contribute</h3>
