---
layout: default
---
<a class="btn btn-sm btn-pill btn-community" style="float: right;" href="/browse/communities.html">Communities</a>
{% if page.logo %}
<p><a class="logo-link" href="{{ page.logo-link }}"><img src="{{ page.logo }}" style="height:{{ page.logo-height }};"></a></p>
{% endif %}
    <h2 id="title"> {{ page.title }}
      <a href="https://github.com/wikipathways/wikipathways.github.io/edit/main/_communities/{{ page.slug }}.md"
      target="_blank"> 
        <span title="Edit community profile" style="color: #666; font-size: 0.8em;">
          <i class="fa fa-pencil"></i>
        </span>
      </a>
    </h2>
    <p>{{ page.description | markdownify }}</p>
    {% if page.curation-table %}
      {% assign rows = site.data[ page.curation-table] %}
      <h2>Curation Table</h2>
      <div class="table-container">
      <table id="participants-table"> 
        <thead>
          {% for row in rows limit:1%}
            {% for field in row %}
              <th>{{ field[0] }}</th>
            {% endfor %}  
          {% endfor %}
        </thead>
        <tbody>
          {% for row in rows %}
            <tr>
            {% for field in row %}
              <td>{{ field[1] }}</td>
            {% endfor %}  
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="table-gradient-overlay"></div>
      </div>
      <input type="button" class="badge badge-secondary" id="tableMore" value="more rows" style="float: left; margin: -8px 4px 0px 0px;">
      <input type="button" class="badge badge-secondary" id="tableLess" value="fewer rows" style="float: left; margin-top: -8px;">
    {% endif %}
    <h2 id-contacts>Contact</h2>
  {% assign all_contacts = '' | split: '' %}
  {% if page.editors %}
  {% assign contacts = page.editors %}
  {% for auth in site.authors %}
   {% if contacts contains auth.username %}
      {% capture thisContact %}
        <a href="{{site.url}}/authors/{{auth.username}}.html" title="View author profile">{{auth.realname}}</a>
      {% endcapture %}
      {% assign all_contacts = all_contacts | push: thisContact %}
    {% endif %} 
   {% endfor %}
  <p>{{ all_contacts | array_to_sentence_string}}.</p>
  {% endif %} 

    {% assign sorted_pathways = site.pathways | where: "communities", page.community-tag | sort: "title" %}
    {% if page.collections-title %}
      <h2> {{ page.collections-title }}</h2>
      {% for c in page.collections %}
      <div class="facet-header">
        <button type="button" class="btn btn-link facet-toggle" data-toggle="collapse" href="#{{ c.name }}" aria-expanded="true" aria-controls="collapseExample">
          <strong class="facet-title">{{ c.name }}</strong>
        </button>
      </div>
      <div class="facet-body collapse" id="{{ c.name }}">
        <div class="row" style="margin-right: 0px; margin-left: 0px;">
          {% for pw in sorted_pathways %}
            {% if c.wpids contains pw.wpid %}
            <div class="col-sm-auto">
              <div class="card" style="width: 10rem;">
                <a class="card-link" href="{{ pw.url }}">
                <img class="card-img-top" loading="lazy" src="/assets/img/{{pw.wpid}}/{{pw.wpid}}-thumb.png" alt="{{ pw.title }}">
                <div class="card-body">
                  <p class="card-text">{{ pw.title }} <em>({{ pw.organisms.first }})</em></p>
                </div>
                </a>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    {% endif %}
    <h2>Community Pathways
      <a href="https://github.com/wikipathways/wikipathways-database/edit/main/communities/{{ page.community-tag }}.txt"
      target="_blank"> 
        <span title="Edit community pathways" style="color: #666; font-size: 0.8em;">
          <i class="fa fa-pencil"></i>
        </span>
      </a>
    </h2>
    <a class="btn btn-sm btn-front my-2" style="float:right;" href="/browse/table.html?Community={{ page.community-tag }}">Table</a>
    <a class="btn btn-sm btn-front my-2" style="float:right; margin-right: 4px;" href="/browse/filters.html?Community={{ page.community-tag }}">Filters</a>
    <br/>
    <ul class="nav nav-tabs" style="margin-left: 0px;">
      <li class="nav-item">
        {% if page.collections-title %}
        <a class="nav-link" data-toggle="tab" href="#gallery">Gallery</a>
        {% else %}
        <a class="nav-link active" data-toggle="tab" href="#gallery">Gallery</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if page.collections-title %}
        <a class="nav-link active" data-toggle="tab" href="#list">List</a>
        {% else %}
        <a class="nav-link" data-toggle="tab" href="#list">List</a>
        {% endif %}
      </li>
    </ul>
    <b>This community helps to curate {{sorted_pathways.size}} pathways:</b>
    <div class="tab-content">
      {% if page.collections-title %}
      <div class="tab-pane fade" id="gallery" role="tabpanel">
      {% else %}
      <div class="tab-pane fade show active" id="gallery" role="tabpanel">
      {% endif %}
        <br/>
    <div class="row" style="margin-right: 0px; margin-left: 0px;">
      {% for pw in sorted_pathways %}
          <div class="col-sm-auto">
            <div class="card" style="width: 10rem;">
              <a class="card-link" href="{{ pw.url }}">
              <img class="card-img-top" loading="lazy" src="/assets/img/{{pw.wpid}}/{{pw.wpid}}-thumb.png" alt="{{ pw.title }}">
              <div class="card-body">
                <p class="card-text">{{ pw.title }} <em>({{ pw.organisms.first }})</em></p>
                {% if page.curationui %}
                  <p class="card-text">
                    <!--This badge shows the curation status-->
                    <a id="badge-curation" target="_blank"
                       href="{% if page.curationrepo %}{{ page.curationrepo }}{% else %}https://www.wikipathways.org/wikipathways-collection/reports/{% endif %}{{pw.wpid}}.html">
                      <img alt="pathway curation" src="https://img.shields.io/endpoint?style=flat-square&url={% if page.curationrepo %}{{ page.curationrepo }}{% else %}https://www.wikipathways.org/wikipathways-collection/reports/{% endif %}{{pw.wpid}}.json">
                    </a>
                  </p>
                {% endif %}
              </div>
              </a>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
  {% if page.collections-title %}
  <div class="tab-pane fade show active" id="list" role="tabpanel">
  {% else %}
  <div class="tab-pane fade" id="list" role="tabpanel">
  {% endif %}
    <br/>
    <div class="row" style="margin-left: 0px;">
      <ul style="list-style-type: none; margin-left: 0px;">
        {% for pw in sorted_pathways %}
              <li><a href="{{ pw.url }}">{{ pw.title }} - {{pw.wpid}} <em>({{ pw.organisms.first }})</em></a></li>
        {% endfor %}
      </ul>
    </div>  
  </div>
</div>

<br/><hr/>

{% if page.reference %}
<h2>Reference</h2>
<p>{{ page.reference | markdownify }}</p>
{% endif %}

{% if page.contribute %}
<h2>How to Contribute</h2>
<p>{{ page.contribute | markdownify }}</p>
<p>To start a discussion about topics relevant to this community, or to browse existing discussions, visit <a href="https://github.com/wikipathways/wikipathways-help/discussions" target="_blank">WikiPathways Discussions</a>.</p>
{% endif %}

{% if page.support %}
<h2>Support</h2>
<p>{{ page.support | markdownify }}</p>
{% endif %}
<!-- author preprocessing used in both sections below -->
{% assign sorted_pw_authors = sorted_pathways | map: "authors" | join: ','  | split: ',' | uniq  %}
{% assign blocked_authors = "Wpblocked,Unknown,TestUser,MaintBot" | split:"," %}
{% assign all_authors = '' | split: '' %}
<h2>Community Members</h2>
{% for auth in site.authors %}
  {% if auth.communities contains page.community-tag %}
    {% unless blocked_authors contains auth.username %}
      {% unless blocked_authors contains auth.realname %}
        {% capture thisAuth %}
        <a href="{{site.url}}/authors/{{auth.username}}.html" title="View author profile">{{auth.realname}}</a>
      {% endcapture %}
      {% assign all_authors = all_authors | push: thisAuth %}
      {% endunless %}
    {% endunless %}
  {% endif %} 
{% endfor %}
<p>{{ all_authors | array_to_sentence_string }}.</p>
<h2>Authors of Community Pathways</h2>
{% for auth in sorted_pw_authors %}
  {% unless blocked_authors contains auth %}
    {% assign realname = site.authors | where: "username", auth | map: "realname" | first  %}
    {% unless blocked_authors contains realname %}
      {% capture thisAuth %}
        <a href="{{site.url}}/authors/{{auth}}.html" title="View author profile">{{realname}}</a>
      {% endcapture %}
      {% assign all_authors = all_authors | push: thisAuth %}
    {% endunless %}
  {% endunless %}
{% endfor %}
<p>{{ all_authors | uniq | array_to_sentence_string }}.</p>
