<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <img alt="GitHub last commit" src="https://img.shields.io/github/last-commit/wikipathways/wikipathways.github.io?label=last%20update">
        [![GitHub latest commit](https://img.shields.io/github/last-commit/wikipathways/wikipathways.github.io?label=last%20update)](https://GitHub.com/wikipathways/wikipathways.github.io/commit/)
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
