---
layout: default
---
<a class="btn btn-sm btn-pill btn-organism" style="float: right;" href="/browse/organisms.html">Organisms</a>
<h1 id="title"> {{ page.title }}
  <a href="https://github.com/wikipathways/wikipathways.github.io/edit/main/_organisms/{{ page.slug }}.md"
  target="_blank"> 
    <span title="Edit organism profile" style="color: #666; font-size: 0.6em;">
      <i class="fa fa-pencil"></i>
    </span>
  </a>
</h1>
<p>This page lists all pathways relevant to {{ page.common }}.</p>
<p>Download pathways by species in any of the following formats: 
  {% assign today = "now" | date:"%Y%m%d" %}
  {% assign rel_date = "now" | date:"%Y%m10" %}
  {% if today < rel_date %}
    {% assign current_month = "now" | date:"%m" %}
    {% if current_month == "01" %}
      {% assign rel_date = rel_date | minus: 8900 %}
    {% else %}
      {% assign rel_date = rel_date | minus: 100 %}
    {% endif %}
  {% endif %}
  {% assign latin_underscore = page.latin | replace: " ","_" %}
  <a href="https://data.wikipathways.org/current/gpml/wikipathways-{{ rel_date }}-gpml-{{ latin_underscore }}.zip" download>GPML</a>, 
  <a href="https://data.wikipathways.org/current/gmt/wikipathways-{{ rel_date }}-gmt-{{ latin_underscore }}.gmt" download>GMT</a> or
  <a href="https://data.wikipathways.org/current/svg/wikipathways-{{ rel_date }}-svg-{{ latin_underscore }}.zip" download>SVG</a>. 
</p>
{% if page.homology %}
  <p><em>Access hundreds of additional pathways in GPML format for this species 
    inferred from {{ page.homology }} by homology mapping: 
    <a href="https://github.com/wikipathways/wikipathways-homology/tree/main/pathways/{{ page.bridgedb-code }}" target="_blank">browse</a>
     or <a href="https://github.com/wikipathways/wikipathways-homology/archive/refs/heads/main.zip" target="_blank">download</a> 
     repository.</em></p>
{% endif %}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#gallery">Gallery</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#list">List</a>
      </li>
    </ul>
    {% assign sorted_pathways = site.pathways | where: "organisms", page.latin | sort: "title" %}
    <b>This organism has {{sorted_pathways.size}} curated pathways:</b>
    <div class="tab-content" >
      <div class="tab-pane fade show active" id="gallery" role="tabpanel">
        <br/>
    <div class="row">
      {% for pw in sorted_pathways %}
          <div class="col-sm-auto">
            <div class="card" style="width: 10rem;">
              <a class="card-link" href="{{ pw.url }}">
              <img class="card-img-top" loading="lazy" src="/assets/img/{{pw.wpid}}/{{pw.wpid}}-thumb.png" alt="{{ pw.title }}">
              <div class="card-body">
                <p class="card-text">{{ pw.title }}</p>
              </div>
              </a>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
  <div class="tab-pane fade" id="list" role="tabpanel">
    <br/>
    <div class="row" style="margin-left: 10px;">
      <ul>
        {% for pw in sorted_pathways %}
              <li><a href="{{ pw.url }}">{{ pw.title }} - {{pw.wpid}}</a></li>
        {% endfor %}
      </ul>
    </div>  
  </div>
</div>
<br/><hr/>
