---
layout: default
---
<html>
  <head>
  {% seo %}
  </head>
  <body>
    <!-- add content here -->
    <h1 id="title"> {{ page.title }}</h1>
    <p>This is an organism page.</p>
    <ul>
      {% for pw in site.pathways %}
          {% if pw.organisms contains page.latin %}
              <li><a href="{{ pw.url }}">{{ pw.title }}</a></li>
            {% endif %}   
      {% endfor %}  
    </ul>
    <!-- 
        Example variables:
        {{ page.title }}
        {{ page.description }}
     -->
  </body>
</html>