---
layout: default
---
<div style="float:right;">
  {% include share.html %}
</div>
  <a class="page-title" href="{{site.url}}/instance/{{page.wpid}}">
    <h1 id="title"> {{ page.title }} ({{ page.wpid }})</h1>
  </a>
  <h3><i>{{page.organisms | array_to_sentence_string }}</i></h3>
  <div id="description" style="max-height:75px; overflow-y:hidden;margin-bottom: 20px;">
    {{ page.description }}
  </div>
  <input type="button" class="badge badge-secondary" id="descMore" value="more text" style="float: right; margin-top: -26px;">
  <input type="button" class="badge badge-secondary" id="descLess" value="less text" style="float: right; margin-top: -26px;">

  <div id="pathway-viewer" style="height:400px;margin-bottom: 2px;">
    <iframe class="embed-responsive-item" src="https://pathway-viewer.toolforge.org/?id={{page.wpid}}"
      style="border-width: 1px; border-color: rgb(222,226,230); border-style: solid; height:100%; width:100%"
      referrerpolicy="origin" sandbox="allow-scripts allow-same-origin allow-popups"></iframe>
  </div>

  <div class="dropdown" style="float:right;">
    <button class="badge badge-secondary dropdown-toggle" style="padding: 4px;" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      options
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="../cite.html">How to Cite</a>
      <button class="dropdown-item copy-btn" type="button" to-copy="https://www.wikipathways.org/instance/{{ page.wpid }}">Copy permalink</button>
      <button class="dropdown-item embed-btn" type="button" to-copy='<iframe src ="https://pathway-viewer.toolforge.org/?id={{ page.wpid }}" width="600px" height="300px" style="overflow:hidden;"></iframe>'>Copy embed code</button>
    {% if page.ndex %}
    <a class="dropdown-item" href="https://www.ndexbio.org/viewer/networks/{{page.ndex}}" target="_blank">Open in NDEx</a>
    {% endif %}
    </div>
  </div>
  <div class="dropdown" style="float:right; margin-right: 4px;">
    <button class="badge badge-secondary dropdown-toggle" style="padding: 4px;" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      download
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/wikipathways-assets/pathways/{{ page.wpid }}/{{ page.wpid }}.png" download>Download PNG</a>
      <a class="dropdown-item" href="/wikipathways-assets/pathways/{{ page.wpid }}/{{ page.wpid }}.svg" download>Download SVG</a>
      <a class="dropdown-item" href="/wikipathways-assets/pathways/{{ page.wpid }}/{{ page.wpid }}.json" download>Download JSON</a>
      <a class="dropdown-item" href="/wikipathways-assets/pathways/{{ page.wpid }}/{{ page.wpid }}.gpml" download>Download GPML</a>
    <!-- <a class="dropdown-item" href="https://www.sejda.com/html-to-pdf?save-link={{site.url}}/pathways/{{ page.wpid }}.html" target="_blank">Generate PDF of page</a> -->
  </div>
  </div>
  <div style="float:right; margin-right: 4px;">
    <input type="button" class="badge badge-secondary" value="view in new tab" style="display: inline; padding: 4px;"
    onclick="window.open(&#39;https://pathway-viewer.toolforge.org/?id={{ page.wpid }}&#39;, '_blank');"/>
  </div>
  <!-- Evaluate last-edited date to set badge color -->
  {% assign edit = page.last-edited | date: '%s' %}
  {% assign now = 'now' | date: '%s' %}
  {% assign diffSeconds = now | minus: edit %}
  {% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 %}
  {% if diffDays <= 7 %} {% assign badgeColor="brightgreen" %} <!-- within 1 week, green-->
  {% elsif diffDays >1095 %} {% assign badgeColor="999" %} <!-- over 3 years, gray-->
  {% else %} {% assign badgeColor="blue" %} {% endif %} <!-- otherwise, blue -->
    <!-- This badge is updated by Jekyll via the value of "last-edited" in each pathway .md-->
    <a href="https://github.com/wikipathways/wikipathways.github.io/commits/main/_pathways/{{page.wpid}}.md"
      target="_blank">
      <img alt="last edited"
        src="https://img.shields.io/static/v1?label=last edited&message={{page.last-edited | date_to_string}}&color={{badgeColor}}">
    </a>
    <!--This badge is updated async to Jekyll by edits to the corresponding status.json (Note: 5 minute cache by shields.io)-->
    <a id="badge-json" target="_blank"
    href="https://github.com/wikipathways/wikipathways-database/pulls"
    file="https://raw.githubusercontent.com/wikipathways/wikipathways-database/main/pathways/{{page.wpid}}/{{page.wpid}}-status.json">
    <!-- fill-in with img tag if file exists -->
    </a>
    <!--This badge shows the curation status-->
    <a id="badge-curation" target="_blank"
    href="https://www.wikipathways.org/wikipathways-collection/reports/{{page.wpid}}.html"
    file="https://www.wikipathways.org/wikipathways-collection/reports/{{page.wpid}}.json">
    <!-- fill-in with img tag if file exists -->
    </a>
  <div>
    <h2 id="authors">Authors</h2>
    {% assign authList = "" | split: ',' %}
    {% for auth in page.authors %}
      {% assign realname = site.authors | where: "username", auth | map: "realname" | first  %}
      {% capture thisAuth %}
        <a href="{{site.url}}/authors/{{auth}}.html" title="View author profile">{{ realname }}</a>
      {% endcapture %}
      {% assign authList = authList | push: thisAuth %}
    {% endfor %}
    {{ authList | array_to_sentence_string }}
    
    <h2 id="citedin">Cited In
      <a href="https://github.com/wikipathways/wikipathways-database/edit/main/downstream/citedin_lookup.yml"
      target="_blank">
        <span title="Edit cited in" style="color: #666; font-size: 0.8em;">
          <i class="fa fa-pencil"></i>
        </span>
      </a>
    </h2> 
    {% assign citedin-size=page.citedin | size %}
    {% if citedin-size > 0 %}
      <ul class="three-column"> 
        {% for citation in page.citedin %}
          <!-- Check type -->
          {% assign cit-slash = citation.link | split: "/" | first %}
          {% assign cit-slash-dot = cit-slash | split: "." | first %}
          {% if cit-slash == "https:" %} <!-- fully formed url -->
          {% assign cit-link = citation.link %}
          {% assign cit-title = citation.title %}
          {% assign cit-label = 'URL' %}
            {% assign cit-msg = citation.link | truncate: 21 %}
          {% elsif cit-slash-dot == "10" %} <!-- DOI in need of prefix -->
            {% assign cit-link = "https://doi.org/" | append: citation.link %}
            {% assign cit-title = citation.title %}
            {% assign cit-label = 'DOI' %}
            {% assign cit-msg = citation.link | truncate: 21 %}
          {% else %} <!-- presumed PubMed or PMC ID in need of prefix -->
            {% assign cit-link = "https://pubmed.ncbi.nlm.nih.gov/" | append: citation.link %}
            {% assign cit-title = citation.title %}
            {% assign cit-label = 'PMC' %}
            {% assign cit-msg = citation.link | truncate: 21 %}
          {% endif %}
          <!-- Check archived -->
          {% assign cit-archived = "" %}
          {% assign cit-dot = citation.archived | split: "." | first %}
          {% if cit-dot == "https://doi" %} <!-- fully formed DOI url -->
            {% capture cit-archived %}
            Cites <a href="{{ citation.archived }}" target="_blank">this version</a>
            {% endcapture %}
          {% elsif cit-dot == "10" %} <!-- DOI in need of prefix -->
            {% capture cit-archived %}
            Cites <a href="https://doi.org/{{ citation.archived }}" target="_blank">this version</a>
            {% endcapture %}
          {% else %} <!-- empty or not a DOI; therefore don't display it -->
          {% endif %}
          <!-- <li><a href="{{ cit-link }}" target="_blank">{{ citation.label | strip_html | truncate: 100, "..."}}</a>{{ cit-archived }}</li> -->
          <li>
            <a href="{{ cit-link }}" title="{{ cit-title }}" target="_blank">
              <img alt="Link to {{ cit-msg }} at PubMedCentral" src="https://img.shields.io/static/v1?label={{ cit-label }}&message={{ cit-msg }}&color=blue">
            </a>
            {{ cit-archived }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p style="font-size:small; color:#999999; font-style:italic;">Are you planning to include this pathway in your next publication? See <a href="/cite.html">How to Cite</a> and add a link here to your paper once it's online.</p>
    {% endif %}

    <h2 id="organism">Organism</h2>
    {% for org in site.organisms %}
    {% if page.organisms contains org.latin %}
    <a class="btn btn-sm btn-pill btn-organism" href="{{org.url}}">{{org.latin}}</a>
    {% endif %}
    {% endfor %}


    <h2 id="communities">Communities
    <a href="https://github.com/wikipathways/wikipathways-database/tree/main/communities"
    target="_blank">
      <span title="Edit communities" style="color: #666; font-size: 0.8em;">
        <i class="fa fa-pencil"></i>
      </span>
    </a>
    </h2>
    {% for com in site.communities %}
    {% if page.communities contains com.community-tag %}
    <a class="btn btn-sm btn-pill btn-community" href="{{com.url}}">{{com.display-name}}</a>
    {% endif %}
    {% endfor %}

    <h2 id="annotations">Annotations</h2>
    {% assign annot-types = page.annotations | map: "type" | uniq %}
    {% for type in annot-types %}
    <p>{{ type }}: 
      {% assign annot-values= page.annotations | where: "type", type | map: "value" %}
      {% for annot in annot-values %}
        <a class="btn btn-sm btn-pill btn-annotation" href="/browse/table.html?{{ type }}={{ annot }}">{{ annot }}</a>
      {% endfor %}
    </p>
    {% endfor %}

    <h2 id="participants">Participants</h2>
    {% assign wpid-parts=page.wpid | append: "-datanodes" %}
    {% assign parts=site.data[wpid-parts] %}
    <table id="participants-table"> 
      <thead>
        <th>Label</th>
        <th>Type</th>
        <th>Compact Identifier</th>
        <th>Comment</th>
      </thead>
      <tbody>
        {% for row in parts %}
        <tr>
          <td>{{ row["Label"] }}</td>
          <td>{{ row["Type"] }}</td>
          {% if row["Identifier"] != null %}
          {% assign xrefUrl = "https://bioregistry.io/" | append:row["Identifier"] %}
            <td><a href={{ xrefUrl }} target="_blank">{{ row["Identifier"] }}</a></td>
          {% else %} 
            <td><span style="font-style:italic; color:#CCCCCC;">None</span></td>
          {% endif %} 
          <td>{{ row["Comment"] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- TODO: change from "Label" to "Identifer" once curies are supported by Drugst.One -->
    {% assign partsIdList = parts | where: "Type", "GeneProduct" | map: "Label" | uniq | slice: 0,99 | join: "," %}
    <div class="dropdown" style="float:right; margin-top: -12px;">
      <button class="badge badge-secondary dropdown-toggle" style="padding: 4px;" type="button" id="dropdownMenuButtonDatanodes" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        options
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonDatanodes">
        <a class="dropdown-item" style="background-image: url(https://cdn.drugst.one/libs/drugstone-buttons/0.0.1/android-chrome-192x192.png);background-repeat: no-repeat;background-position: left;background-position-x: left;background-size: 20px 20px;background-position-x: 6px;background-origin: padding-box;padding-left: 32px !important; margin: 10px;"
        href="https://drugst.one/standalone?nodes={{partsIdList}}&autofillEdges=true&activateNetworkMenuButtonAdjacentDrugs=true&interactionDrugProtein=NeDRex&licensedDatasets=true" 
        target="_blank" 
        title="Query Drugst.One with the GeneProducts of this pathway. Learn more at the link destination.">Drugst.One</a>
      </div>
    </div>
    <div class="dropdown" style="float:right; margin-top: -12px; margin-right: 4px;">
      <button class="badge badge-secondary dropdown-toggle" style="padding: 4px;" type="button" id="dropdownMenuButtonDatanodes" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        download
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonDatanodes">
        <a class="dropdown-item" href="https://raw.githubusercontent.com/wikipathways/wikipathways.github.io/main/_data/{{ page.wpid }}-datanodes.tsv">Download TSV</a>
      </div>
    </div>

    <input type="button" class="badge badge-secondary" id="tableMore" value="more rows" style="float: left; margin-top: -8px;">
    <input type="button" class="badge badge-secondary" id="tableLess" value="fewer rows" style="float: left; margin-top: -8px;">
    <br />
    <h2 id="references">References</h2>
    {% assign wpid-refs=page.wpid | append: "-bibliography" %}
    {% assign refs=site.data[wpid-refs] %}
    <ol>
      {% for ref in refs %}
      <li>{{ ref.Citation }}</li>
      {% endfor %}
    </ol>
    <div class="dropdown" style="float:right; margin-top: -17px;">
      <button class="badge badge-secondary dropdown-toggle" style="padding: 4px;" type="button" id="dropdownMenuButtonBibliography" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        download
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonBibliography">
      <a class="dropdown-item" href="https://raw.githubusercontent.com/wikipathways/wikipathways.github.io/main/_data/{{ page.wpid }}-bibliography.tsv">Download TSV</a>
      </div>
    </div>
  </div>

<script> 
  var trs = $("#participants-table tr");
  var btnMoreDesc = $("#descMore");
  var btnLessDesc = $("#descLess");
  var btnMore = $("#tableMore");
  var btnLess = $("#tableLess");
  var trsLength = trs.length;
  var startIndex = 5;
  var currentIndex = startIndex;
  var addIndex = 40;

  var badgeJson = $("#badge-json")[0];
  var badgeJsonFileUrl = badgeJson.getAttribute("file");
  if (UrlExists(badgeJsonFileUrl)){
    badgeJson.innerHTML = '<img alt="pathway status" src="https://img.shields.io/endpoint?url='+badgeJsonFileUrl+'">';
  }
  var badgeCuration = $("#badge-curation")[0];
  var badgeCurationFileUrl = badgeCuration.getAttribute("file");
  if (UrlExists(badgeCurationFileUrl)){
    badgeCuration.innerHTML = '<img alt="pathway curation" src="https://img.shields.io/endpoint?url='+badgeCurationFileUrl+'">';
  }
  
  function UrlExists(url) {
    var http = new XMLHttpRequest();
    http.open('HEAD', url, false);
    try {
      http.send();
      return http.status != 404;
    } catch (error) {
      return false;
    }
  }

  trs.hide();
  trs.slice(0, startIndex).show();
  checkButton();
  checkButtonDesc();

  btnMoreDesc.click(function (e) {
    e.preventDefault();
    document.getElementById("description").style.maxHeight = ""; 
    checkButtonDesc();
  });

  btnLessDesc.click(function (e) {
    e.preventDefault();
    document.getElementById("description").style.maxHeight = "75px"; 
    checkButtonDesc();
  });

  function checkButtonDesc() {
    var currentHeight = $("#description").height();
    var scrollHeight = document.getElementById("description").scrollHeight;

    if (scrollHeight <= 75){ // no need to expand/collapse
      btnMoreDesc.hide();
      btnLessDesc.hide();
    } else {
      if (currentHeight > 75) { // time to collapse
        btnMoreDesc.hide();
        btnLessDesc.show();
      } else {                  // time to expand
        btnMoreDesc.show();
        btnLessDesc.hide();
      }
    } 
  }

  btnMore.click(function (e) {
    e.preventDefault();
    $("#participants-table tr").slice(currentIndex, currentIndex + addIndex).show();
    currentIndex += addIndex;
    checkButton();
  });

  btnLess.click(function (e) {
    e.preventDefault();
    $("#participants-table tr").slice(currentIndex - addIndex, currentIndex).hide();
    currentIndex -= addIndex;
    checkButton();
  });

  function checkButton() {
    var currentLength = $("#participants-table tr:visible").length;

    if (currentLength >= trsLength) {
      btnMore.hide();
    } else {
      btnMore.show();
    }

    if (trsLength > startIndex && currentLength > startIndex) {
      btnLess.show();
    } else {
      btnLess.hide();
    }

  }

  const copyBtn = document.querySelector('.copy-btn');
  const toCopy = document.querySelector('.copy-btn').getAttribute('to-copy');

  copyBtn.addEventListener('click', () => {
    navigator.clipboard.writeText(toCopy)
      .then(() => {
        toCopy.value = '';
      })
      .catch(err => {
        console.log('Something went wrong', err);
      })
  });

  const embedBtn = document.querySelector('.embed-btn');
  const toEmbed = document.querySelector('.embed-btn').getAttribute('to-copy');

  embedBtn.addEventListener('click', () => {
    navigator.clipboard.writeText(toEmbed)
      .then(() => {
        toEmbed.value = '';
      })
      .catch(err => {
        console.log('Something went wrong', err);
      })
  });
</script>
