---
layout: default
---
<div style="float:right;">
  {% include_cached share.html %}
</div>
  <a class="page-title" href="{{site.url}}/instance/{{page.wpid}}">
    <h1 id="title"> {{ page.title }} ({{ page.wpid }})</h1>
  </a>

  <div id="description" style="max-height:75px; overflow-y:hidden;margin-bottom: 20px;">
    {{ page.description }}
  </div>
  <input type="button" class="badge badge-secondary" id="descMore" value="more text" style="float: right; margin-top: -26px;">
  <input type="button" class="badge badge-secondary" id="descLess" value="less text" style="float: right; margin-top: -26px;">

  <div id="pathway-viewer" style="height:400px;margin-bottom: 2px;">
    <iframe class="embed-responsive-item" src="https://pathway-viewer.toolforge.org/?id={{page.wpid}}"
      style="border-width: 1px; border-color: rgb(222,226,230); border-style: solid; height:100%; width:100%"
      referrerpolicy="origin" sandbox="allow-scripts allow-same-origin allow-popups"></iframe>
  </div>
  <div class="dropdown" style="float:right; margin-top: -1px;">
    <button class="badge badge-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      options
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <button class="dropdown-item copy-btn" type="button" to-copy="https://www.wikipathways.org/instance/{{ page.wpid }}">Copy permalink</button>
    <button class="dropdown-item embed-btn" type="button" to-copy='<iframe src ="https://pathway-viewer.toolforge.org/?id={{ page.wpid }}`" width="600px" height="300px" style="overflow:hidden;"></iframe>'>Copy embed code</button>
    <a class="dropdown-item" href="https://pathway-viewer.toolforge.org/?id={{page.wpid}}" target="_blank">View full size</a>
    {% if page.ndex %}
    <a class="dropdown-item" href="https://www.ndexbio.org/viewer/networks/{{page.ndex}}" target="_blank">Open in NDEx</a>
    {% endif %}
    <a class="dropdown-item" href="https://www.sejda.com/html-to-pdf?save-link={{site.url}}/pathways/{{ page.wpid }}.html" target="_blank">Download PDF</a>
    <a class="dropdown-item" href="https://assets.wikipathways.org/pathways/{{ page.wpid }}/{{ page.wpid }}.png">Download PNG</a>
    <a class="dropdown-item" href="https://assets.wikipathways.org/pathways/{{ page.wpid }}/{{ page.wpid }}.svg">Download SVG</a>
    <a class="dropdown-item" href="https://gitcdn.link/cdn/wikipathways/wikipathways-database/main/pathways/{{ page.wpid }}/{{ page.wpid }}.gpml">Download GPML</a>
    </div>
  </div>
  <!-- Evaluate last-edited date to set badge color -->
  {% assign edit = page.last-edited | date: '%s' %}
  {% assign now = 'now' | date: '%s' %}
  {% assign diffSeconds = now | minus: edit %}
  {% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 %}
  {% if diffDays <= 1 %} {% assign badgeColor="red" %} {% elsif diffDays <=7 %} {% assign badgeColor="yellow" %} {% else
    %} {% assign badgeColor="blue" %} {% endif %} <!-- This badge is updated by Jekyll via the value of "last-edited" in
    each pathway .md-->
    <a href="https://github.com/wikipathways/wikipathways.github.io/commits/main/_pathways/{{page.wpid}}.md"
      target="_blank">
      <img alt="last edited"
        src="https://img.shields.io/static/v1?label=last edited&message={{page.last-edited | date_to_string}}&color={{badgeColor}}">
    </a>
    <!--This badge is updated async to Jekyll by edits to the corresponding .json (Note: 5 minute cache by shields.io)-->
    <a id="badge-json" target="_blank"
    href="https://github.com/wikipathways/wikipathways.github.io/commits/main/_pathways/{{page.wpid}}.md"
    file="https://raw.githubusercontent.com/wikipathways/repository/main/{{page.wpid}}/status.json">
    <!-- fill-in with img tag if file exists -->
    </a>
    <!--This badge shows the curation status-->
    <a id="badge-curation" target="_blank"
    href="https://new.wikipathways.org/wikipathways-collection/reports/{{page.wpid}}.html"
    file="https://new.wikipathways.org/wikipathways-collection/reports/{{page.wpid}}.json">
    <!-- fill-in with img tag if file exists -->
    </a>
  <div>
    <h2 id="authors">Authors</h2>
    {{ page.authors | array_to_sentence_string }}

    <h2 id="organism">Organism</h2>
    {% for org in site.organisms %}
    {% if page.organisms contains org.latin %}
    <a class="btn btn-sm btn-pill btn-organism" href="{{org.url}}">{{org.latin}}</a>
    {% endif %}
    {% endfor %}


    <h2 id="communities">Communities
    <a href="https://github.com/wikipathways/wikipathways-database/tree/main/communities"
    target="_blank">
      <span title="Edit communities" style="color: #666; font-size: 0.8em;">
        <i class="fa fa-pencil"></i>
      </span>
    </a>
    </h2>
    {% for com in site.communities %}
    {% if page.communities contains com.community-tag %}
    <a class="btn btn-sm btn-pill btn-community" href="{{com.url}}">{{com.display-name}}</a>
    {% endif %}
    {% endfor %}

    <h2 id="annotations">Annotations</h2>
    {% assign annot-types = page.annotations | map: "type" | uniq %}
    {% for type in annot-types %}
    <p>{{ type }}: 
      {% assign annot-values= page.annotations | where: "type", type | map: "value" %}
      {% for annot in annot-values %}
        <a class="btn btn-sm btn-pill btn-annotation" href="/browse/table.html?{{ type }}={{ annot }}">{{ annot }}</a>
      {% endfor %}
    </p>
    {% endfor %}

    <h2 id="participants">Participants</h2>
    {% assign wpid-parts=page.wpid | append: "-datanodes" %}
    {% assign parts=site.data[wpid-parts] %}
    <table id="participants-table"> 
      <thead>
        {% for column in parts[0] %}
        <th>{{ column[0] }}</th>
        {% endfor %}
      </thead>
      <tbody>
        {% for row in parts %}
        <tr>
          {% for cell in row %}
          <td>{{ cell[1] }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table> 
    <div class="dropdown" style="float:right; margin-top: -13px;">
      <button class="badge badge-secondary dropdown-toggle" type="button" id="dropdownMenuButtonDatanodes" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        options
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonDatanodes">
      <a class="dropdown-item" href="https://gitcdn.link/cdn/wikipathways/wikipathways.github.io/main/_data/{{ page.wpid }}-datanodes.tsv">Download TSV</a>
      </div>
    </div>
    <input type="button" class="badge badge-secondary" id="tableMore" value="more rows" style="float: left; margin-top: -8px;">
    <input type="button" class="badge badge-secondary" id="tableLess" value="fewer rows" style="float: left; margin-top: -8px;">
    <br />
    <h2 id="references">References</h2>
    {% assign wpid-refs=page.wpid | append: "-bibliography" %}
    {% assign refs=site.data[wpid-refs] %}
    <ol>
      {% for ref in refs %}
      <li>{{ ref.Citation }}</li>
      {% endfor %}
    </ol>
    <div class="dropdown" style="float:right; margin-top: -18px;">
      <button class="badge badge-secondary dropdown-toggle" type="button" id="dropdownMenuButtonBibliography" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        options
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonBibliography">
      <a class="dropdown-item" href="https://gitcdn.link/cdn/wikipathways/wikipathways.github.io/main/_data/{{ page.wpid }}-bibliography.tsv">Download TSV</a>
      </div>
    </div>
  </div>

<script> 
  var trs = $("#participants-table tr");
  var btnMoreDesc = $("#descMore");
  var btnLessDesc = $("#descLess");
  var btnMore = $("#tableMore");
  var btnLess = $("#tableLess");
  var trsLength = trs.length;
  var startIndex = 5;
  var currentIndex = startIndex;
  var addIndex = 40;

  var badgeJson = $("#badge-json")[0];
  var badgeJsonFileUrl = badgeJson.getAttribute("file");
  if (UrlExists(badgeJsonFileUrl)){
    badgeJson.innerHTML = '<img alt="pathway status" src="https://img.shields.io/endpoint?url='+badgeJsonFileUrl+'">';
  }
  var badgeCuration = $("#badge-curation")[0];
  var badgeCurationFileUrl = badgeCuration.getAttribute("file");
  if (UrlExists(badgeCurationFileUrl)){
    badgeCuration.innerHTML = '<img alt="pathway status" src="https://img.shields.io/endpoint?url='+badgeCurationFileUrl+'">';
  }
  
  function UrlExists(url) {
    var http = new XMLHttpRequest();
    http.open('HEAD', url, false);
    http.send();
    if (http.status != 404)
      return true;
    else
      return false;
  }

  trs.hide();
  trs.slice(0, startIndex).show();
  checkButton();
  checkButtonDesc();

  btnMoreDesc.click(function (e) {
    e.preventDefault();
    document.getElementById("description").style.maxHeight = ""; 
    checkButtonDesc();
  });

  btnLessDesc.click(function (e) {
    e.preventDefault();
    document.getElementById("description").style.maxHeight = "75px"; 
    checkButtonDesc();
  });

  function checkButtonDesc() {
    var currentHeight = $("#description").height();
    var scrollHeight = document.getElementById("description").scrollHeight;

    if (scrollHeight <= 75){ // no need to expand/collapse
      btnMoreDesc.hide();
      btnLessDesc.hide();
    } else {
      if (currentHeight > 75) { // time to collapse
        btnMoreDesc.hide();
        btnLessDesc.show();
      } else {                  // time to expand
        btnMoreDesc.show();
        btnLessDesc.hide();
      }
    } 
  }

  btnMore.click(function (e) {
    e.preventDefault();
    $("#participants-table tr").slice(currentIndex, currentIndex + addIndex).show();
    currentIndex += addIndex;
    checkButton();
  });

  btnLess.click(function (e) {
    e.preventDefault();
    $("#participants-table tr").slice(currentIndex - addIndex, currentIndex).hide();
    currentIndex -= addIndex;
    checkButton();
  });

  function checkButton() {
    var currentLength = $("#participants-table tr:visible").length;

    if (currentLength >= trsLength) {
      btnMore.hide();
    } else {
      btnMore.show();
    }

    if (trsLength > startIndex && currentLength > startIndex) {
      btnLess.show();
    } else {
      btnLess.hide();
    }

  }

  const copyBtn = document.querySelector('.copy-btn');
  const toCopy = document.querySelector('.copy-btn').getAttribute('to-copy');

  copyBtn.addEventListener('click', () => {
    navigator.clipboard.writeText(toCopy)
      .then(() => {
        toCopy.value = '';
      })
      .catch(err => {
        console.log('Something went wrong', err);
      })
  });

  const embedBtn = document.querySelector('.embed-btn');
  const toEmbed = document.querySelector('.embed-btn').getAttribute('to-copy');

  embedBtn.addEventListener('click', () => {
    navigator.clipboard.writeText(toEmbed)
      .then(() => {
        toEmbed.value = '';
      })
      .catch(err => {
        console.log('Something went wrong', err);
      })
  });
</script>
